<!DOCTYPE html>
<html>
  <head>
    <title>InfratopBookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div>
            <a class="navbar-brand" href="/">
              <span>Bookers</span>
            </a>
          </div>
          <ul class="navbar-nav nav-pills">
            <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                <i class="fa-solid fa-users"></i>
                <span>Users</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                <i class="fa-solid fa-book"></i>
                <span>Books</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Log out</span>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="d-flex justify-content-center mt-5 mb-3">
        <div>
          CopyRight Infratop.inc
        </div>
      </div>
    </footer>
  </body>
</html>
